<div style="width:40%; margin:0 auto; display:block;text-align:center;text-family:monospace;">
  <ul>
    <li style="list-style-type:none;text-align:center;"><%= @user.name%></li>
    <li style="list-style-type:none;text-align:center;"><%= @user.email%></li>
  </ul>
</div>
