<!DOCTYPE html>
<html>
<head>
<title>What a bunch of movies</title>
</head>

	<body>
		<h1 style="text-align: center;font-family: monospace;">I just love this movies</h1>
		<div style="width: 450px; margin: auto;">
			<form method="post" action="/guessyear" style="text-align:center;">
				<%@movies.each_with_index do |movie, index|%>	
						<button type="submit" name="movieid" value="<%= movie.id%>">
							<img src="<%= movie.poster %>" width="120" height="150">
						</button>
						<%end%>
				<ul style="text-align: center; padding-left: 0px;font-family: monospace;">Wich movie do you whing was made in <%= @year = @movies[rand(9)].year %></ul>
			</form>
		</div>
	</body>

</html>