	<div style="width:40%; margin:0 auto; display:block;text-align:center;text-family:monospace;">	
		<%= form_for [@person] do |f| %>
		<%= f.label :name%>
		<%= f.text_field :name%>
		<br>
		<%= f.submit 'Add a lemming' %>
		<% end %>
	</div>
