<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div style="background-color: lightgray;width:50%;margin:0 auto;text-align:center;">
	<h1>This is no Ruby on Rauls... no projects were found</h1>
	</div>
</body>
</html>