<!DOCTYPE html>
<html>
<head>
<title>We are looking for movies</title>
</head>

<body>
	<div style="margin: auto;width: 180px;text-align: center;">
		<form action="/search" method="post">
			<label  for="title">Movie Searcher</label>
			<br>
			<input style="text-align: center; " type="text" name="title" placeholder="Enter a movie title">
			<br>
			<button type="submit" name="search" value="searchmovie">Search da fucking movie</button>
		</form>
	</div>
</body>

</html>