.box{
	margin: 10px;
	float: left;
}

.box.blue{
	background: cornflowerblue;
	border: 5px inset firebrick;
}

#red {
	background: tomato;
	border: 5px ridge aqua;
}

#top {
	position: absolute;
	top: 350px;
	left: 350px;
	z-index: 100;
	box-shadow: inset 3px 3px 5px 5px black, -1px 0 5px aqua;

}

#bottom {
	position: absolute;
	top: 400px;
	left: 500px;
}

.direction {
	padding: 20px;
}

.box.green {
	background: green;
}