<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div style="display:block;border-radius: 15px;">
		<h1 style="text-align:center;font-family:monospace;">This projects are awesome</h1>
		<% @projects.each do |project|%>
			<li style="font-family:monospace;font-size:14px;color:black;text-align:center;list-style:none;">
			<style type="text/css">
				p:hover{
					color: green;
					border-radius: 5px;
					
				}
			</style>
		<%= link_to(project.name, project_path(project))%>
		<% if project.description.present? %>
		<p style="font-size:10px;"><%= project.created_at%> - <%=project.description%></p>
		<% end %>
			</li>
			<%end%>
	</div>		
</body>
</html>