<div class="products">
    <ul>
      <li style="list-style-type: none;">
        Product name: <%= @product.title %><br>
        Description: <%= @product.description %><br>
        Deadline <%= @product.deadline %><br>
      </li>
    </ul>
</div>
