<!DOCTYPE html>
<html>
<head>
  <title>Rocknrails2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<img id="header" src="http://static.tumblr.com/f8309f2565e0e2fae6fd28d3cb789fe7/j5zws68/T0vn7mp8z/tumblr_static_283wbv4n5p34c0s8w8ggsoow0.png" alt="">
<%= yield %>
<foot>
  <p>Developed by ironHacker</p>
</foot>
</body>
</html>
